.cart-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.cart-button {
    font-size: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20%; 
    transition: margin-right 0.5s; 
}

.cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}


@media screen and (max-width: 768px) {
    .cart-button {
        margin-right: 10%; 
    }
}



.InboxOutlined{
    color: grey;
    text-align: center;
}

.quantity-controls Button{
    margin-left: 5px;
    margin-right: 5px;

}

.payment-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.payment-button{
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
    margin-right: 10px;
}