.padre{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 60vh;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.cajatexto{
    background-color: #cccccc40;
    border-color: slategray;
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    border-width: 0px;
    margin-bottom: 20px;
}
.cajatexto:focus{
    outline: 1px solid cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
}
.btnform{
    background-color: #0D6EFD;
    border-color: slategray;
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    border-width: 0px;
    margin-bottom: 20px;
    color: white;
}
.texto{
    font-size: 14px;
    color: slategray;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}
.btnswitch{
    border-color: darkblue;
    border-radius: 30px;
    padding: 8px;
    border-width: 0px;
    font-size: 14px;
    background-color:rgba(172, 255, 47, 0.581);
}
.style-profile{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .card {
        padding: 15px;
    }

    .cajatexto, .btnform {
        font-size: 14px;
    }

    .btnform {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 10px;
    }

    .cajatexto, .btnform {
        font-size: 12px;
    }

    .btnform {
        padding: 6px;
    }
}