*{
  font-family: 'Poetsen One';
}
.main-home{
  max-width: 132vh;
  height: auto;
  margin: auto;
}
.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFDAB9; 
  padding: 0 20px;
}
.logo{
  width: 120px;
  height: 31px;
}

.custom-footer{
  text-align: center;
  background-color: #FFDAB9   ;
  color:white ;
}

img{ 
  width: 9vh;
  height: 8vh;
}

.barrabusqueda{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* AppFooter.css */
.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.footer-section:last-child {
  margin-right: 0;
}

.social-icons a {
  font-size: 30px; 
  margin-left: 10px;
}


.legal-notice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.legal-notice-content {
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
